h1 {
    color:darksalmon;
    background-color:aqua
}

#div1 {
    color: blueviolet;
    background-color: aquamarine;
}

h2 {
    color:darkgray;
    background-color:deeppink;
}

#div2 {
    color: crimson;
    background-color: cadetblue;
}

.div3 {
    background-color: crimson;
    color:white
}

h3 {
    background-color: beige;
    color: darkblue;
}

.page3para {
    color: aliceblue;
    background-color: blue;
}

a {
    color: red;
    text-decoration: none;
}

a:visited {
    color:yellow
}

a:hover {
    color: green;
    text-decoration: underline;
}

.spanstyle{
    color: rgb(0, 0, 0);
}